body{
	background-color: #FCFCFD	;

}





#myBanner{
	background-image: -webkit-linear-gradient(-66deg, blue, #c842f4);
	background-image: -o-linear-gradient(-66deg, blue, #c842f4);
	background-image: linear-gradient(-66deg, blue, #c842f4);
	
	
}	



.intro-card {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(.14, .71, .29, .86);
    animation-timing-function: cubic-bezier(.14, .71, .29, .86);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.intro-card {
    -webkit-animation-name: bdSlideDown;
    animation-name: bdSlideDown
}