<section >
	<div class="hero-body">
		<div class="container has-text-centered">

			<div class="columns">
				
				<div class="column is-one-quarter">
					<figure class="image">
						<img src="assets/profile1.jpg">
						<figcaption>
							Figure 1: My self, proabably a recycled picture from LinkedIn
						</figcaption>
					</figure>

				</div>
				<div class="column">

					<div class="content">


						<h1 class="intro-title has-text-gray is-size-3">Welcome to my profile page, at the moment is in a face renewal, due to my tight schedule I'm not sure how much will take to complete .</h1>



						<h2 class="subtitle has-text-weight-semibold">About me</h2>
						<p>
							I'm a regular  developer, I have used the hats of Backend developer, desktop developer and Frontend developer but mostly my happy place is Backend. 

							I like Frontend developer because makes very easy to distribute apps thru the web rather than developing an installer or publishing my work to application stores, but sadly I haven't taken my time to learn a Frontend framework.

						</p>



					</div>
				</div>
			</div>

		</div>

	</div>
</section>
