<section class="section">
    <div class="card intro-card">
        <div class="card-image intro-card">
            <section class="section">
                <figure class="image is-4by3 intro-card">                  
                    <img  alt="Content not available" class="intro-card"/>
                </figure>
            </section>
        </div>

        <div class="card-content intro-card">
            <div class="media intro-card">
                <div class="media-left intro-card">
                    <figure class="image is-48x48 intro-card">
                        <img alt="Content its not available" class="intro-card"/>
                    </figure>
                </div>
                <div class="media-content intro-card">
                    <p class="intro-title">Project</p>
                </div>
            </div>
            <div class="intro-content">Content</div>
        </div>
    </div>
</section>

