<div class="container">
  <h1 class="title">Object classifiers using opencv</h1>
  <div class="notification">
     This is a test of computer vision using openCV.js
      <br/>
    <strong> <span id="openCvBanner"/></strong>
  </div>
  
  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       file Input
      </h1>
      <img id="imageSearch" alt="No Image"/>
      <span>Image Search<input type="file" id="fileInput"/>
    </div>
  </div>
</section>
  
</div>
