<div class="container">
  <h1 class="title">Object classifiers using opencv</h1>
  <div class="notification">
     This is a test of computer vision using openCV.js
      <br/>
    <strong> <span id="openCvBanner"/></strong>
  </div>
  
  
  
  <div class="card intro-card">

        <div class="card-image intro-card">

        <figure class="image is-4by3 intro-card">                  

            <img  alt="Content not available" class="intro-card" id="imageSearch"/>

        </figure>

        </div>



        <div class="card-content intro-card">

        <div class="media intro-card">


            <div class="media-content intro-card">

            <p class="intro-title">Image Search</p>
            <input class="file-input" type="file" id="fileInput"/>
            </div>

        </div>

    </div>
  
</div>
